
[Desktop Entry]
Name=Minecraft
Comment=Tlauncher
Exec=java -jar /home/shinji/.local/bin/minecraft.jar
Icon=minecraft
Terminal=false
Type=Application
Categories=Games;
